@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: montserrat;    
}

body{
    background-color: rgb(30, 46, 71);
}

.card{
    max-width: 32vh;
    background-color: rgb(52, 52, 177);
    padding: 2em;
    border-radius: 1vh;
    height: 100%;
    color: aliceblue;
}

    .card .img{
        height: 100%;
    }

    .card .img img{
        object-fit: cover;
        width: 100%;
    }

    /* Título de la tarjeta */

    .card .titulo{
        margin-block: 2vh;
    }

    .card .titulo span{
        font-weight: 500;
        font-size: larger;
    }

    /* Botón del color de la prenda */

    .card .colores button{
        border: none;
        padding: 1vh;
        border-radius: 45%;
    }

        #color-picker-gray{
            background-color: gray;
        }